<div class="layout">
  <form>
    <input type="text" name="inputField" autocomplete="off" [(ngModel)]="city"/>
    <button (click)="getWeather()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <div class="layout_body">
    <figure class="name">
      <figcaption>{{cityName}}</figcaption>
      <img [src]="countryFlagImageURL" alt="0" />
    </figure>
    <figure class="temperature">
      <img [src]="weatherIconURL" />
      <figcaption>
        <span>{{temperature}}</span>
        <sup>o</sup>
      </figcaption>
    </figure>
    <p class="description">{{cloudDescription}}</p>

    <ul>
      <li>
        <span>Clouds</span><i class="fa-solid fa-cloud"></i><span>{{cloud}}</span>%
      </li>
      <li>
        <span>Humidity</span><i class="fa-solid fa-droplet"></i><span>{{humidity}}</span>%
      </li>
      <li>
        <span>Pressure</span><i class="fa-solid fa-gauge"></i
        ><span>{{pressure}}</span>hpa
      </li>
    </ul>
  </div>
</div>
